Imob.View/Service References/ProprietarioController/ProprietarioController.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10945/Controllers/ProprietarioController.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Imob.Site.Models" />
  <xs:element name="Salvar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="obj" nillable="true" type="q1:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="SalvarResult" nillable="true" type="q2:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="ObterResult" nillable="true" type="q3:ArrayOfOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="obj" nillable="true" type="q4:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="EditarResult" nillable="true" type="q5:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="obj" nillable="true" type="q6:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Imob.Site.Models" minOccurs="0" name="ExcluirResult" nillable="true" type="q7:Owner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>